<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="billingFormData" connectionString="Data Source=Adzguru\SQLEXPRESS;Initial Catalog=billingFormData;Integrated Security=True;" providerName="System.Data.SqlClient"/>
        <add name="BillingSoftware.Properties.Settings.billingFormDataConnectionString" connectionString="Data Source=Adzguru\SQLEXPRESS;Initial Catalog=billingFormData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
