USE [master]
GO
/****** Object:  Database [billingFormData]    Script Date: 03-10-2024 6.03.13 PM ******/
CREATE DATABASE [billingFormData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'billingFormData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\billingFormData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'billingFormData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\billingFormData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [billingFormData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [billingFormData]
GO
/****** Object:  Table [dbo].[account_master]    Script Date: 03-10-2024 6.03.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [varchar](100) NULL,
	[status] [varchar](1) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_account_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency_master]    Script Date: 03-10-2024 6.03.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[currency_name] [varchar](10) NULL,
	[currency_details] [varchar](100) NULL,
	[status] [varchar](1) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_currency_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_master]    Script Date: 03-10-2024 6.03.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](100) NULL,
	[customer_email] [varchar](100) NULL,
	[customer_phone] [varchar](100) NULL,
	[customer_type] [int] NOT NULL,
	[company_name] [varchar](100) NULL,
	[currency_id] [int] NOT NULL,
	[customer_city] [varchar](100) NULL,
	[customer_state] [varchar](100) NULL,
	[customer_pincode] [varchar](10) NULL,
	[customer_address] [varchar](400) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[status] [varchar](1) NOT NULL,
 CONSTRAINT [PK_customer_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_master]    Script Date: 03-10-2024 6.03.14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_type] [varchar](50) NULL,
	[item_name] [varchar](100) NULL,
	[item_unit] [varchar](100) NULL,
	[item_selling_price] [float] NULL,
	[item_account] [int] NOT NULL,
	[item_description] [varchar](max) NULL,
	[status] [varchar](1) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_item_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_master] ADD  CONSTRAINT [DF_account_master_account_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [dbo].[account_master] ADD  CONSTRAINT [DF_account_master_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[currency_master] ADD  CONSTRAINT [DF_currency_master_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [dbo].[currency_master] ADD  CONSTRAINT [DF_currency_master_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer_master] ADD  CONSTRAINT [DF_customer_master_customer_type]  DEFAULT ((0)) FOR [customer_type]
GO
ALTER TABLE [dbo].[customer_master] ADD  CONSTRAINT [DF_customer_master_currency]  DEFAULT ((0)) FOR [currency_id]
GO
ALTER TABLE [dbo].[customer_master] ADD  CONSTRAINT [DF_customer_master_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customer_master] ADD  CONSTRAINT [DF_customer_master_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [dbo].[item_master] ADD  CONSTRAINT [DF_item_master_item_account]  DEFAULT ((0)) FOR [item_account]
GO
ALTER TABLE [dbo].[item_master] ADD  CONSTRAINT [DF_item_master_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [dbo].[item_master] ADD  CONSTRAINT [DF_item_master_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[item_master] ADD  CONSTRAINT [DF_item_master_updated_at]  DEFAULT (getdate()) FOR [updated_at]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, D = Inactive / Deleted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_master', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, D = Inactive / Deleted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'currency_master', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = Default Input, 1 = Business, 2 = Individual' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer_master', @level2type=N'COLUMN',@level2name=N'customer_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'will store currency_master table''s id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer_master', @level2type=N'COLUMN',@level2name=N'currency_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, D = Deactive / Deleted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer_master', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'This is the master table for holding customer''s all details' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'customer_master'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, D = Deleted / Deactive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'item_master', @level2type=N'COLUMN',@level2name=N'status'
GO
USE [master]
GO
