USE [master]
GO
/****** Object:  Database [billingFormData]    Script Date: 26-09-2024 5.49.27 PM ******/
CREATE DATABASE [billingFormData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'billingFormData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\billingFormData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'billingFormData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\billingFormData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [billingFormData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [billingFormData]
GO
/****** Object:  Table [dbo].[account_master]    Script Date: 26-09-2024 5.49.28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_name] [varchar](100) NULL,
	[status] [varchar](1) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_account_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_master]    Script Date: 26-09-2024 5.49.28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_type] [varchar](50) NULL,
	[item_name] [varchar](100) NULL,
	[item_unit] [varchar](100) NULL,
	[item_selling_price] [float] NULL,
	[item_account] [varchar](100) NULL,
	[item_description] [varchar](max) NULL,
 CONSTRAINT [PK_item_master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_master] ADD  CONSTRAINT [DF_account_master_account_status]  DEFAULT ('A') FOR [status]
GO
ALTER TABLE [dbo].[account_master] ADD  CONSTRAINT [DF_account_master_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'A = Active, D = Inactive / Deleted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'account_master', @level2type=N'COLUMN',@level2name=N'status'
GO
USE [master]
GO
